<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item nzSelected>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu" nzTheme="dark">
          <li nz-submenu nzTitle="hình ảnh" nzIcon="user">
            <ul>
              <li nz-menu-item nzSelected (click)="handleImg('square')">
                image
              </li>
              <li nz-menu-item (click)="handleImg('circle')">Circle</li>
              <li nz-menu-item (click)="handleImg('squareboder')">Rounded</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
            <ul>
              <li nz-menu-item>option5</li>
              <li nz-menu-item>option6</li>
              <li nz-menu-item>option7</li>
              <li nz-menu-item>option8</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="inner-content">
        <div
          *ngFor="let item of selectedShapes; let i = index"
          (click)="selectShape(item)"
          (dblclick)="removeShape(i)"
          (mouseover)="applyEffectToShape(item)"
          (mouseout)="removeEffectFromShape(item)"
          class="itemImg"
          [ngStyle]="{
            width: '100px',
            height: '100px',
            backgroundColor: 'red',
            cursor: 'pointer',
            borderRadius:
              item.shape === 'circle'
                ? '50%'
                : item.shape === 'squareboder'
                ? '10%'
                : '0',
            transform: item.hoverEffect === 'zoom' ? 'scale(1.2)' : 'none',
            filter:
              item.hoverEffect === 'blur'
                ? 'blur(5px)'
                : item.hoverEffect === 'shadow'
                ? 'drop-shadow(2px 4px 6px black)'
                : 'none',
            boxShadow: item.shadow
          }"
          cdkDrag
          [cdkDragBoundary]="'.inner-content'"
          [cdkDragFreeDragPosition]="item.position"
          (cdkDragEnded)="dragEnded($event, item)"
        ></div>
      </nz-content>
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li
            nz-submenu
            nzTitle="Hiệu ứng khi rê chuột"
            nzIcon="user"
            [nzOpen]="isOpen('image')"
            (click)="toggleOpen('image')"
          >
            <ul>
              <li nz-menu-item nzSelected (click)="applyEffect('default')">
                Mặc định
              </li>
              <li nz-menu-item (click)="applyEffect('zoom')">Phóng to</li>

              <li nz-menu-item (click)="applyEffect('blur')">Làm mơ</li>
              <li nz-menu-item (click)="applyEffect('shadow')">Tạo bóng</li>
            </ul>
          </li>

          <li
            nz-submenu
            nzTitle="Đổ bóng"
            nzIcon="user"
            [nzOpen]="isOpen('image')"
            (click)="toggleOpen('image')"
          >
            <ul>
              <li nz-menu-item nzSelected (click)="applyShadow('default')">
                Mặc định
              </li>
              <li nz-menu-item (click)="applyShadow('style1')">Kiểu 1</li>
              <li nz-menu-item (click)="applyShadow('style2')">Kiểu 2</li>
              <li nz-menu-item (click)="applyShadow('style3')">Kiểu 3</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
    </nz-layout>

    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-content>
</nz-layout>
